@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.radix-themes {
  --default-font-family:  'Playfair Display', serif;
  --heading-font-family:  'Playfair Display', serif;
  --code-font-family:     'Playfair Display', serif;
  --strong-font-family:   'Playfair Display', serif;
  --em-font-family:       'Playfair Display', serif;
  --quote-font-family:    'Playfair Display', serif;
}

.underlineAnimation {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
}

.underlineAnimation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underlineAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
