/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/notebook/notebook.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.notebook_underlineAnimation__bC_B0 {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.notebook_underlineAnimation__bC_B0::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.notebook_underlineAnimation__bC_B0:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
